@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Nunito&display=swap');

#verb, #conjugaison, #kanji {
    text-align: center;
}

#verb {
    font-size: 23px;
    line-height: 5px;
    color: #464646;
}

#score {
    text-align: right;
    padding: 30px 0;
    color: #464646;
}

#score > div {
    display: inline-block;
    text-align: center;
    margin-left: 10px;
}

#success, #verb[data-status="success"] {
    color: #00c384;
}
/* [data-status="pos"] {
    background: #54fbc5!important;
} */

#error, #verb[data-status="error"] {
    color: #fd488b;
    color: #ff6666;
}
[data-status="neg"] {
    /* background: #ffe9ab!important;
    background: #c8abff!important; */
    color: #ff6666!important;
    /* color: white; */
}

#success, #error {
    font-weight: bold;
    font-size: 35px;
}

#kanji {
    font-size: 90px;
    line-height: 110px;
}

#type {
    margin-top: -8px;
    color: black;
    font-weight: bold;
}

#conjugaison {
    font-size: 25px;
    margin-top: 70px;
}

#verb-container {
    margin-top: 30px;
    text-align: center;
}

#conjugaison > span {
    padding: 5px 15px;
    background: white;
    display: inline-block;
}

#conjugaison #tense {
    background: #4e1840;
    color: white;
}

#conjugaison #pos {
    border-radius: 5px 0 0 5px;
}
#conjugaison #formality {
    border-radius: 0 5px 5px 0;
    position: relative;
}
#conjugaison #formality, #conjugaison #pos {
    width: 120px;
}

#conjugaison #formality:after {
    content: '?';
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translate(0,-50%);
    color: black!important;
}

#definition {
    height: 21px;
    max-width: 400px;
    margin: auto;
    color: #464646;
}


#verb.disabled:not([data-status]) {
    opacity : 0;
}
#type.disabled, #definition.disabled {
    display: none;
}

.btn.btn-flat:hover {
    background : #4e1840;
    color: white;
}
.btn.btn-flat:hover i {
    color: white!important;
}
[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid #4e1840;
    background-color: #4e1840;
}

/* STYLE _________ _________ _________ _________ _________ _________ _________ _________ _________ */

.japanese {
    font-family: 'Kosugi Maru', sans-serif;
}

#menu {
    padding: 30px 0;
}

#menu i {
    color: #464646;
}

body {
    background: #ececec;
    font-family: 'Nunito', sans-serif;
}

nav {
    background: #4e1840;
}

nav .logo {
    color: #c8abff;
    color: #4d1940;
    background: #ffffff;
    padding: 5px;
    border-radius: 5px;
}

#form {
    position: relative;
}

#form input[type="text"] {
    background-color: white;
    border: 0;
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.04), 0 9px 46px 8px rgba(0,0,0,0.02), 0 11px 15px -7px rgba(0,0,0,0.02);
    border-radius: 30px;
    padding-left: 20px;
    font-weight: bold;
    box-sizing: border-box;
}

#form button {
    position: absolute;
    top: 4px;
    right: 20px;
}

::placeholder {
    font-family: 'Nunito', sans-serif;
}

.nav-logo {
    font-size: 2.1rem;
}

.nav-logo .logo-title {
    font-size: 1.5rem;
}

.nav-logo span {
    vertical-align: middle;
}

.copyright {
    color: #464646;
    font-size: 10px;
    text-align: center; 
    margin-top: 50px;
}

.modal h4 {
    margin-bottom: 30px;
}