@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Nunito&display=swap');

#verb, #conjugaison, #kanji {
    text-align: center;
}

#verb {
    font-size: 23px;
    line-height: 5px;
    color: #464646;
}

#score {
    text-align: right;
    padding: 30px 0;
    font-size: 20px;
}

#score > div {
    display: inline-block;
    text-align: center;
    margin-left: 10px;
}

#success, #verb[data-status="success"] {
    color: #00c384
}

#error, #verb[data-status="error"] {
    color: #fd488b
}

#success, #error {
    font-weight: bold;
    font-size: 25px;
}

#kanji {
    font-size: 90px;
    line-height: 110px;
}

#type {
    margin-top: -10px;
}

#conjugaison {
    font-size: 25px;
    margin-top: 50px;
}

#verb-container {
    margin-top: 50px;
    text-align: center;
}

#conjugaison > span {
    padding: 5px 15px;
    background: white;
    display: inline-block;
}

#conjugaison #tense {
    background: #4e1840;
    color: white;
}

#conjugaison #pos {
    border-radius: 5px 0 0 5px;
}
#conjugaison #formality {
    border-radius: 0 5px 5px 0;
}
#conjugaison #formality, #conjugaison #pos {
    width: 120px;
}


#verb.disabled:not([data-status]), #type.disabled {
    opacity : 0;
}

.btn.btn-flat:hover{
    background : #4e1840;
    color: white;
}
[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid #4e1840;
    background-color: #4e1840;
}

/* STYLE _________ _________ _________ _________ _________ _________ _________ _________ _________ */

.japanese {
    font-family: 'Kosugi Maru', sans-serif;
}

#menu {
    padding: 30px 0;
}

body {
    background: #ececec;
    font-family: 'Nunito', sans-serif;
}

nav {
    background: #4e1840;
}

nav .logo {
    color : #d277ba;
}

/* #form {
    margin-top: 50px;
} */

#form input[type="text"] {
    background-color: white;
    border: 0;
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.04), 0 9px 46px 8px rgba(0,0,0,0.02), 0 11px 15px -7px rgba(0,0,0,0.02);
    border-radius: 30px;
    padding-left: 20px;
    font-weight: bold;
}

::placeholder {
    font-family: 'Nunito', sans-serif;
}

.nav-logo {
    font-size: 2.1rem;
}

.nav-logo .logo-title {
    font-size: 1.5rem;
}